button {
    width: 20vw; 
    height: 30px;
    background-color: green; 
    border-radius: .5vw; 
    color:white;
    font-size: 15px;
    max-width: 300px;
}

.big-space-holder {
    width: 34.5%;
}

.text-area-container {
    display: flex; 
    align-content: center;
}

.small-space-holder {
    width: 1%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
    -moz-appearance: textfield;
    text-align: center;
    width: 20vw;
    height: 30px;
    font-size: 20px;
    resize: none;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    border-radius: 1vw;
}

.row {
    display: flex;
}

.pic_column {
    flex: 59%;
    padding: 5px;
    justify-content: center; 
    text-align: center;
}

.text_column {
    flex: 39%;
    padding: 5px;
}

img {
    object-fit: cover; 
    margin-top: 10vh;
}

tr {
    text-align: center;
}

.centered-div {
    display: flex;
    justify-content: center; 
    text-align: center;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

table, th, td {
    border:1px solid black;
} 

tr:nth-child(even) {
    background-color: rgb(220, 228, 235);
}

@media (max-width: 1000px) {
    .row {
        display: inline;
    }
    img {
        object-fit:fill;
        width: 100%;
        height: auto;
    }
    .pic_column {
        flex: none;
    }
    button {
        width: 30%;
        height: 40px;
        font-size: 20px;
    }
    .big-space-holder {
        width: 0;
    }
    .small-space-holder{
        width: 0;
        height: 15px;
    }
    input[type=number] {
        width: 35vw;
        height: 40px;
        font-size: 30px;
    }
    .text-area-container {
        flex-flow: column wrap;
    }
    .text_column {
        width: 85vw;
        margin: 0 auto;
    }
    table {
        margin: 0 auto;
    }
    td {
        height: 30px;
        font-size: 20px;
    }
}