<!DOCTYPE html>
<html>
<head>
 {% if haveContent %}
 <title>{{team1}} vs {{team2}}</title>
 {% else %}
 <title>Compare Teams</title>
 {% endif %}
 <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
 <meta charset="utf-8" />
 <style>
    table, th, td {
      border:1px solid black;
    }
</style>
<style> 
    input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }
</style>
<script language="javascript">
    function checkInput(ob, event) 
    {
      var invalidChars = /[^0-9]/gi
      if (event.keyCode == 13) 
      {
        ob.value = ob.value.replace(invalidChars,"");
        document.getElementById("myform").submit();
      }
      else if(invalidChars.test(ob.value)) 
      {
        ob.value = ob.value.replace(invalidChars,"");
      }
    }
</script>
<div style="position: relative; min-height: 100vh;">
<form method="POST" id="myform">
    <div style="display: flex; align-content: center;">
    <div style="width: 30%;"></div>
    {% if haveContent==false %}
    <textarea name="team1"  placeholder="Team #" id="team1" maxlength="5" class="form-control" onkeyup="checkInput(this, event)" style="font-size: large; text-align: center; width: 30%; height: 20%; resize: none ;"></textarea>
    <textarea name="team2"  placeholder="Team #" id="team2" maxlength="5" class="form-control" onkeyup="checkInput(this, event)" style="font-size: large; text-align: center; width: 30%; height: 20%; resize: none ;"></textarea>
     {% else %}
     <textarea name="team1" placeholder="Team #" id="team1" maxlength="5" class="form-control" onkeyup="checkInput(this, event)" style="font-size: large; text-align: center; width: 30%; height: 20%; resize: none ;">{{team1}}</textarea>
     <textarea name="team2"  placeholder="Team #" id="team2" maxlength="5" class="form-control" onkeyup="checkInput(this, event)" style="font-size: large; text-align: center; width: 30%; height: 20%; resize: none ;">{{team2}}</textarea>
     {% endif %}
     <div style="width: 30%;"></div>
    </div>  
    <div align="center">
    <button type="submit" class="btn btn-primary" style="width: 20%;" id="get_record">Compare</button>
    </div>
</form>
<br>
</head>
{% if haveContent %}
<body> 
<div class="row">
<div class="text_column">
<table style="width:100%">
    <tr style="text-align: center;">
      <td>Team 1</td>
      <td>Score 1</td>
      <td>Score 2</td>
      <td>Team 2</td>
      <td>Year</td>
    </tr>
    {% for match in information %}
    <tr style="text-align: center;">
        <td>{{match.firstTeam}}</td>
        <td>{{match.firstTeamScore}}</td>
        <td>{{match.secondTeamScore}}</td>
        <td>{{match.secondTeam}}</td>
        <td>{{match.year}}</td>
    </tr>
    {% endfor %}
  </table>
</div> 
<div class="pic_column" align="middle">
<img src="{{url_for('static', filename=path)}}" align="middle"/>
</div>
</div>
</body>
{% else %}
{% endif %}
<br/><br/><br/>
<footer id="footer" style="text-align: center;">Powered by The Blue Alliance</footer>
</div>
</html>